openapi: 3.1.0
info:
  title: Google Keep Google Keep API Notes API
  description: The Google Keep API enables enterprise administrators to manage Google Keep notes, including creating, listing, deleting, downloading attachments, and managing permissions on notes.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/workspace/keep/api/guides
servers:
- url: https://keep.googleapis.com
tags:
- name: Notes
paths:
  /v1/notes:
    get:
      operationId: listNotes
      summary: List notes
      description: Lists notes.
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNotesResponse'
      tags:
      - Notes
    post:
      operationId: createNote
      summary: Create note
      description: Creates a new note.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
      tags:
      - Notes
components:
  schemas:
    Permission:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        role:
          type: string
          enum:
          - ROLE_UNSPECIFIED
          - OWNER
          - WRITER
        deleted:
          type: boolean
    ListNotesResponse:
      type: object
      properties:
        notes:
          type: array
          items:
            $ref: '#/components/schemas/Note'
        nextPageToken:
          type: string
    Section:
      type: object
      properties:
        text:
          type: object
          properties:
            text:
              type: string
        list:
          type: object
          properties:
            listItems:
              type: array
              items:
                type: object
                properties:
                  text:
                    type: object
                    properties:
                      text:
                        type: string
                  checked:
                    type: boolean
    Note:
      type: object
      properties:
        name:
          type: string
        createTime:
          type: string
          format: date-time
        updateTime:
          type: string
          format: date-time
        trashTime:
          type: string
          format: date-time
        trashed:
          type: boolean
        title:
          type: string
        body:
          $ref: '#/components/schemas/Section'
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
    Attachment:
      type: object
      properties:
        name:
          type: string
        mimeType:
          type: array
          items:
            type: string
