openapi: 3.1.0
info:
  title: Google Keep Google Keep API Permissions:batchCreate API
  description: The Google Keep API enables enterprise administrators to manage Google Keep notes, including creating, listing, deleting, downloading attachments, and managing permissions on notes.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/workspace/keep/api/guides
servers:
- url: https://keep.googleapis.com
tags:
- name: Permissions:batchCreate
paths:
  /v1/{parent}/permissions:batchCreate:
    post:
      operationId: batchCreatePermissions
      summary: Batch create permissions
      description: Creates one or more permissions on a note.
      parameters:
      - name: parent
        in: path
        required: true
        description: 'Format: notes/{note}'
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  items:
                    $ref: '#/components/schemas/CreatePermissionRequest'
      responses:
        '200':
          description: Successful response
      tags:
      - Permissions:batchCreate
components:
  schemas:
    CreatePermissionRequest:
      type: object
      properties:
        parent:
          type: string
        permission:
          $ref: '#/components/schemas/Permission'
    Permission:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        role:
          type: string
          enum:
          - ROLE_UNSPECIFIED
          - OWNER
          - WRITER
        deleted:
          type: boolean
